.details-loading{
    color: whitesmoke;
}

.details{
    display: block;
}

.details-first-section{
    display: flex;
    justify-content: space-between;
    padding: 3vw;
    align-items: center;
}

.details-first-section img{
    object-fit: cover;
    max-width: 30vw;
    height: 30vw;
    border-radius: 25px;
    /* max-width: 300px; */
    
}

.details-first-section div{
    padding: 2vw;
    width: 45vw;
    border: 5px solid #35c9dd;
    border-radius: 25px;
    text-align: left;
    color: #35c9dd;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "Creepster", "sans-serif";
    letter-spacing: 0.1rem;
    -webkit-text-stroke:  1px 	black;
    text-shadow: 2px 0 0 #88e23b,0 2px 0 #88e23b,-2px 0 0 #88e23bed,0 -2px 0 #88e23b;

}

.details-first-section span{
    padding-left: 1vw;
    color: whitesmoke;
    font-weight: bold;
    font-family: sans-serif;
    -webkit-text-stroke: 0px;
    text-shadow: none;
 
}

.details-second-section {
    display: block;
    

}

.details-second-section h1{
    color: #35c9dd;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Creepster", "sans-serif";
    letter-spacing: 0.1rem;
    -webkit-text-stroke:  1px 	black;
    text-shadow: 2px 0 0 #88e23b,0 2px 0 #88e23b,-2px 0 0 #88e23bed,0 -2px 0 #88e23b;
    text-align: center;

}
.details-second-section-div{
    margin: auto 3vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* padding: 2rem; */
    border: 5px solid #35c9dd;
    border-radius: 25px;
}

@media (650px < width<=912px){
    .details-first-section div{
        font-size: 1rem;
    }
}

@media (width<=650px){

    .details-first-section {
        display: block;
    }
    .details-first-section img{
        max-width: 80vw;
        height: 80vw;
    }
    .details-first-section div{
        font-size: 0.8rem;
        width: 80vw;
        margin: 2vh auto;
        padding: 1vh;
    }
    .details-first-section h2{
        font-size: 0.8rem;
        margin: 1vh auto;
    }
}

