.favorites-container{
    width: 100vw;
    margin: 2vh auto 5vh;
}
.favorites-title{
    display: block;
    width: 100vw;
}

.favorites-title h1{
    margin: 1vh auto;
    display: block;
    color: whitesmoke;
    font-size: 3rem;
    font-weight: bold;
   
}

#favorites-filters{
    height: 12vh;
}